<extend name="angular-base.html" />
<block name="momentjs">
</block>
<block name="headcss">

</block>
<block name="headjs">
    <!--select start-->
    <link rel="stylesheet" href="{$Think.const.BOOTSTRAP_URL}select2/3.4.5/select.css">
    <script src="{$Think.const.BOOTSTRAP_URL}select2/3.4.5/select.js"></script>
    <link rel="stylesheet" href="{$Think.const.BOOTSTRAP_URL}select2/3.4.5/select2.css">
    <link rel="stylesheet" href="{$Think.const.BOOTSTRAP_URL}select2/3.4.5/selectize.default.css">
    <!--select end-->
    <link rel="stylesheet" href="{$Think.const.PAGE_URL}css/crmSchedule/Workerorder/workerorder.css" /><!-- 这里公用了工单css -->
    <script>
        var userid = "{$userid}";
        var _appid = "{$appid}";
    </script>
</block>
<block name="pageContent">
    <div class="col-xs-12">
        <!--操作区域-->
        <div class="btn-box">
            <!--展示检索条件区域-->
            <div class="search-box">
                <span class="display" ng-click="search=!search"><span ng-bind="search?'隐藏':'点击'"></span>根据条件检索</span>&nbsp;
                <span class="input-search">
                    <input type="text" placeholder="标题检索 ..." class="search-input" ng-model="filtername">
                    <i class="fa fa-search search-icon"></i>
                </span>
            </div>
            <div ng-if="search" class="top-10">
                <ui-select multiple ng-model="service.status" on-select="addTags('status', $item);" theme="select2">
                    <ui-select-match placeholder="按状态检索" ng-bind="$item.value.name"></ui-select-match>
                    <ui-select-choices repeat="person.value as (key, person) in service.privateDateObj.businessstatusData | filter: { value: { name: $select.search }} track by $index">
                        <span>
                            <div ng-bind-html="person.value.name | highlight: $select.search"></div>
                        </span>
                    </ui-select-choices>
                </ui-select>
                <ui-select multiple ng-model="service.user" on-select="addTags('user',$item);" theme="select2" ng-if="selectUserData">
                    <ui-select-match placeholder="按创建人检索" ng-bind="$item.value.description"></ui-select-match>
                    <ui-select-choices repeat="person.value as (key, person) in selectUserData | filter: { value: { description: $select.search }} track by $index">
                        <div ng-bind-html="person.value.description | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <ui-select multiple ng-model="service.assign" on-select="addTags('assign', $item);" theme="select2" ng-if="selectAssignData">
                    <ui-select-match placeholder="按执行人检索" ng-bind="$select.value.description"></ui-select-match>
                    <ui-select-choices repeat="person.value as (key, person) in selectAssignData | filter: { value: { description: $select.search }} track by $index">
                        <div ng-bind-html="person.value.description | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <!--条件检索区-->
        <div class="text-right">
            <span class="tag" ng-repeat="item in tagsData" ng-class="item.key">
                <span ng-if="item.key=='status' || item.key=='type'" ng-bind-html="item.value.name"></span>
                <span ng-if="item.key!='status' && item.key!='type'" ng-bind="item.value.description"></span>
                <button type="button" class="close" ng-click="removeTag(item)">×</button>
            </span>
        </div>
    </div>
    <!--表格展示区-->
    <div class="col-xs-12">

        <table class="table" ng-init="businessDataCount={count:0};orderName = '-createtime'" style="margin-bottom:2px;">
            <thead>
                <tr>
                    <th class="mousehand" ng-click="orderName=(orderName=='name'?'-name':'name')">出差名称<i class="fa" ng-class="orderName=='type'?'fa-caret-up':'fa-caret-down'"></i></th>
                    <th class="mousehand" ng-click="orderName=(orderName=='status'?'-status':'status')">状态 <i class="fa" ng-class="orderName=='-createtime'?'fa-caret-up':'fa-caret-down'"></i></th>
                    <th class="mousehand" ng-click="orderName=(orderName=='-starttime'?'-starttime':'starttime')">开始时间<i class="fa" ng-class="orderName=='status'?'fa-caret-up':'fa-caret-down'"></i></th>
                    <th class="mousehand" ng-click="orderName=(orderName=='endtime'?'-endtime':'endtime')">结束时间<i class="fa" ng-class="orderName=='title'?'fa-caret-up':'fa-caret-down'"></i></th>
                    <th>
                        <span class="mousehand" ng-click="orderName=(orderName=='refcustomerid'?'-refcustomerid':'refcustomerid')">
                            客户<i class="fa" ng-class="orderName=='refcustomerid'?'fa-caret-up':'fa-caret-down'"></i>
                        </span>
                    </th>
                    <th class="mousehand" ng-click="orderName=(orderName=='userid'?'-userid':'userid')">创建者<i class="fa" ng-class="orderName=='userid'?'fa-caret-up':'fa-caret-down'"></i></th>
                    <th class="mousehand" ng-click="orderName=(orderName=='assignid'?'-assignid':'assignid')">审批者<i class="fa" ng-class="orderName=='assignid'?'fa-caret-up':'fa-caret-down'"></i></th>
                    <th class="mousehand" ng-click="orderName=(orderName=='-place'?'place':'-place')">出差地点 <i class="fa" ng-class="orderName=='-createtime'?'fa-caret-up':'fa-caret-down'"></i></th>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                <!--ng-class="item.assignid==service.userid?'bg-pink-red':''"-->
                <tr ng-repeat="(key,item) in service.closebusinessArrData | orderBy:orderName |filterByAttr:filtername:businessDataCount track by $index" 
                    class="profile-activity" 
                    ng-class="(item.assignid == service.userid&&item.status == 0) || (item.userid == service.userid&&(item.status == 1||item.status == 2))?'danger ':''">
                    <td>
                        <div>
                            <i ng-if="item.icon" class="pull-left thumbicon {{item.icon}} no-hover"></i>
                            <a class="user" href="" ng-click="selectdetailed(item)" ng-bind="item.name"></a>
                        </div>
                    </td>
                    <td>
                        <!-- 出差状态标签 -->
                        <span class="left-10 label" ng-class="service.privateDateObj.businessstatusData[item.status].type" ng-bind="service.privateDateObj.businessstatusData[item.status].name"></span>
                    </td>
                    <td><span ng-bind="service.formatDate(item.starttime,'yyyy-mm-dd')"></span></td>
                    <td><span ng-bind="service.formatDate(item.endtime,'yyyy-mm-dd')"></span></td>
                    <td>
                        <!-- 客户标签 -->
                        <span ng-repeat="id in (item.refcustomerid?item.refcustomerid.split(','):[]) track by $index" class="label label-default left-5"
                              ng-bind="(service.privateDateObj.customerinfoData[id]?service.privateDateObj.customerinfoData[id]:service.privateDateObj.tempcustomerinfoData[id]).name"></span>
                    </td>
                    <td>
                        <div>
                            <!-- 创建人 -->
                            <span class="label c-info" ng-bind="(service.privateDateObj.usersData[item.userid].description ? service.privateDateObj.usersData[item.userid].description :service.privateDateObj.usersData[item.userid].username)"></span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <!-- 出差审批者 -->
                            <span class="label c-info" ng-bind="(service.privateDateObj.usersData[item.assignid].description ? service.privateDateObj.usersData[item.assignid].description :service.privateDateObj.usersData[item.assignid].username)"></span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <!-- 出差审批者 -->
                            <span class="label c-info" ng-bind="item.place"></span>
                        </div>
                    </td>
                    <td>
                        <a href="javascript:;" ng-click="selectdetailed(item)" title="详细" class="btn btn-xs green"><i class="ace-icon fa fa-search"></i>&nbsp;详细</a>
                        <a href="javascript:;" ng-if="item.isinvoice==1" disabled="disabled" ng-click="selectdetailed(item)" title="详细" class="btn btn-sm btn-info"><i class="ace-icon fa fa-search"></i>&nbsp;已报销</a>
                        <a href="javascript:;" ng-if="service.userid=='28'&&item.isinvoice==0"  ng-click="update(item)" title="详细" class="btn btn-sm btn-warning"><i class="ace-icon fa fa-search"></i>&nbsp;未报销</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-right" style="padding:10px;">
            当前<b class="blue" ng-bind="service.closebusinessArrData.length"></b>条已关闭出差
            <!--<div ng-include="'__APP__/Crmbase/Baseinfo/setpaging'"></div>-->
        </div>
    </div>
</block>
<block name="scriptTemplate">
</block>

<block name="footjs">
    <script type="text/javascript" src="{$Think.const.PAGE_URL}js/Crmschedule/Business/business_close.js"></script>
</block>
​