<extend name="angular-base.html" />
<block name="headcss">
   
</block>
<block name="headjs">
    <script>
        //文件路径
        var __FilePath = "{$FilePath}";
    </script>
    <script src="{$Think.const.BOOTSTRAP_URL}angular-sanitize/{$Think.const.ANGULAR_VERSION}angular-sanitize.min.js"></script>    
    <script>
        //初始化modal并定义service
        appModuleInit(['ui.bootstrap','ngVerify', 'datePicker', 'ui.select', 'ngSanitize']);
       
        //主控制器
        appModule.controller('crmCustomerinfopreviewController', ['$scope',  'dataService', 'alert', function ($scope,  dataService,  alert) {
           
          
            $scope.service = dataService;//要显示到页面上的数据源
           
            /*
                查询用户（本页面使用）数据
            */
            $scope.select = function () {
                var params = new URLSearchParams();
                params.append('fileid', __FilePath);
                dataService.postData(__URL + 'Crmsetting/Annex/readExcel', params).then(function (data) {
                 
                   $scope.service.customerinfopreviewsData = [];
                   angular.forEach(data.value, function (value, key) {
                       //数据键名
                        if (key == 0) {
                            $scope.columns = value;
                        }
                       //真正数据，没有key的数据
                        if (key >= 1) {
                            var data_obj = {};
                            //加key
                            angular.forEach(value, function (val, k) {
                                data_obj[$scope.columns[k]] = val;
                            });
                            //组建最后表格格式的数据
                            $scope.service.customerinfopreviewsData.push(data_obj);
                        }                                              
                    });

                }, function (error) {
                    console.log(error);
                });
            }
          
            //仅用作了附加默认值做判断使用，手机、紧急电话、现居地址为空则是undefined的情况
            $scope.defaultvalue = function (value) {
                if (value == "undefined") {
                    var html = '暂无';
                } else {
                    var html = value;
                }
                return html;
            }
            $scope.saveStatus = function (row) {
                if(row.idusers){
                    return '<i class="fa fa-check green bigger-120"></i>'
                } else {
                    return '<i class="fa fa-close red bigger-120"></i>'
                }
                
            }
            //---------------------选中项获取-------------------------

            $scope.selected = [];
            var updateSelected = function (action, id, row) {
                if (action == 'add' && $scope.selected.indexOf(row) == -1) {
                    $scope.selected.push(row);
                   
                }
                if (action == 'remove' && $scope.selected.indexOf(row) != -1) {
                    var idx = $scope.selected.indexOf(row);
                    $scope.selected.splice(idx, 1);
                }
            }

            $scope.updateSelection = function ($event, id,row) {
                var checkbox = $event.target;
                var action = (checkbox.checked ? 'add' : 'remove');
                updateSelected(action, id, row);
            }

            $scope.isSelected = function (id) {
                return $scope.selected.indexOf(id) >= 0;
            }



            //保存选项按钮
            //type  0表示保存所有数据 1表示保存选中的数据 2表示单条数据保存
            $scope.save = function (type,rowData) {
                //已选数据  $scope.selected 

                if (type == 0) {
                    $scope.selected = $scope.service.customerinfopreviewsData;
                } else if (type == 1) {
                    
                    if ($scope.selected.length == 0) {
                        alert.show('没选择任何数据','批量添加客户信息');
                    }
                } else if (type == 2) {
                    $scope.addCustomerinfo(rowData, 2);
                    alert.show('导入成功', '批量添加客户信息');
                }
                
                //循环添加所有数据数据库
                for (var i = 0; i < $scope.selected.length; i++) {
                    $scope.addCustomerinfo($scope.selected[i]);
                }               
            }

            $scope.addCustomerinfo = function (user) {
                var params = new URLSearchParams();
                //组建每条数据的参数
                angular.forEach(user, function (value, key) {                    
                    params.append(key, value);
                });            
                dataService.postData(__URL + "Crmcustomerinfo/Customerinfo/add_page_data", params).then(function (data) {
                    //当添加失败时，
                    if (data < 0) {
                        errData.push(user);
                        console.log(user);
                        return;
                    } else if (data > 0) {
                        user.idusers = data;
                    }

                }, function (error) {
                    console.log(error);
                });
            }

            //页面加载完成后，查询数据
            $scope.select();
        }]);
    </script>
</block>
<block name="pageContent">
    <!--页头-->
    <div class="page-header clearfix">
        <h1 class="col-xs-3 text-left">
            {$MenuName}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {$PageName}
            </small>
        </h1>
        <div class="col-xs-4 text-center">
           <button type="button" ng-click="save(0)" class="btn btn-sm btn-success">全部保存</button>
            <button type="button" ng-click="save(1)" class="btn btn-sm btn-success">保存已选项</button>
        </div>
        </div>
    <!--快速检索-->
    <div class="table-header clearfix">
        <div class="col-xs-6">{$MenuName}<small><i class="ace-icon fa fa-angle-double-right"></i>{$PageName}</small></div>
    </div>
    <div>
        <table class="table">
            <tr>
                <th>选中状态</th>
                <th>上传状态</th>
                <th>客户名称</th>
                <th>简称</th>
                <th>办公电话</th>
                <th>地址</th>
                <th>网站</th>
                <th>主要联系人</th>
                
                <th>操作</th>
            </tr>
            <tr ng-repeat="(key, row)  in service.customerinfopreviewsData">
                <td>
                    <input type="checkbox" id="$index" name="{{row.name}}" ng-checked="isSelected(row)" ng-click="updateSelection($event,$index,row)"/>
                </td>
                <td>
                    <span ng-bind-html="saveStatus(row)"></span>
                </td>
                <td ng-bind="row.name"></td>
                <td ng-bind="row.abbreviation"></td>
                <td ng-bind="row.officephone"></td>
                <td ng-bind="row.address"></td>
                <td ng-bind="row.url"></td>
                <td ng-bind="row.maincontact"></td>
               
                <td>
                    <a href="javascript:;" class="green top-5" title="上传" ng-click="save(2,row)"><i class="fa fa-upload bigger-120"></i>&nbsp;上传</a>
                </td>
            </tr>
        </table>
    </div>
</block>
<block name="scriptTemplate">    
    
</block>

<block name="footjs">
    <script type="text/javascript" src="{$Think.const.JS_URL}directive.pagebtn.js"></script>
</block>
