<!DOCTYPE html>
<html">
<head>
    <title></title>
</head>
<body>
    <div>      
            <p>您好:</p>            
            <p style="padding-left:40.0px;">
                由刘世群在2018-07-26发起<b>北京某地铁项目交流</b>工单,指派给<b>闫旭杰</b>完成此项工作,期望解决时间:2018年08月01日<br />
            </p>
            <p style="padding-left:40.0px;">关联客户:<b>民生证券</b>关联项目:<b>民生证券二期采购项目</b></p>
            <p style="padding-left:40.0px;">当前工单状态:<b>进行中</b></p>
            <p style="padding-left:40.0px;">工单详情请点击登陆CRM查看<a href="http://www.qhoa.net" target="_blank">http://www.qhoa.net</a><br /></p>
            <br>
            <p style="float:right;margin:.0px;">昕辰CRM办公系统</p><br>
            <p style="float:right;margin:.0px;">2018年08月01日</p><br />

            <p style="float:right;margin:.0px;">北京昕辰清虹科技有限公司</p><br>
       
    </div>

    <div>
        <p>您好:</p>
        <p style="padding-left:40.0px;">
            由%s在%s发起<b>%s</b>工单,指派给<b>%s</b>完成此项工作,期望解决时间:%s<br />
        </p>
        <p style="padding-left:40.0px;">关联客户:<b>%s</b>关联项目:<b>%s</b></p>
        <p style="padding-left:40.0px;">当前工单状态:<b>%s</b></p>
        <p style="padding-left:40.0px;">工单详情请点击登陆CRM查看<a href="http://www.qhoa.net" target="_blank">http://www.qhoa.net</a><br /></p>
        <br>
        <p style="float:right;margin:.0px;">昕辰CRM办公系统</p><br>
        <p style="float:right;margin:.0px;">%s</p><br />
        <p style="float:right;margin:.0px;">北京昕辰清虹科技有限公司</p><br>
    </div>
</body>
</html>