<extend name="angular-base.html" />
<block name="headcss">
    <link rel="stylesheet" href="{$Think.const.CSS_URL}upload.css" />   
</block>
<block name="headjs">
    <script src="{$Think.const.BOOTSTRAP_URL}angular-sanitize/{$Think.const.ANGULAR_VERSION}angular-sanitize.min.js"></script>
    <link rel="stylesheet" href="{$Think.const.BOOTSTRAP_URL}select2/3.4.5/select.css">
    <script src="{$Think.const.BOOTSTRAP_URL}select2/3.4.5/select.js"></script>
    <link rel="stylesheet" href="{$Think.const.BOOTSTRAP_URL}select2/3.4.5/select2.css">
    <link rel="stylesheet" href="{$Think.const.BOOTSTRAP_URL}select2/3.4.5/selectize.default.css">
    <script src="{$Think.const.BOOTSTRAP_URL}angular-file-upload/angular-file-upload.min.js"></script>
    <script>
        sessionauthrefcus = "{$cusid}";
        //初始化modal并定义service
      
    </script>
</block>
<block name="pageContent">
    <!--页头-->
    <main class="js-canvi-content canvi-content">
        <div class="page-header clearfix">
            <page-btn></page-btn>

        </div>
        <!--快速检索-->
        <div class="table-header clearfix">
            <div class="col-xs-6">{$MenuName}<small><i class="ace-icon fa fa-angle-double-right"></i>{$PageName}</small></div>
        </div>
        <div>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>帐号</th>
                    <th>用户名</th>
                    <th>创建时间</th>
                    <th>更改密码时间</th>
                    <th>上次登录时间</th>
                    <th>邮箱</th>
                    <th>电话</th>
                    <th>手机</th>
                    <th>紧急联系电话</th>
                    <th>现居地址</th>
                    <th>操作</th>
                </tr>
                <tr ng-repeat="item in service.usersArrData track by $index">
                    <td ng-bind="item.idusers"></td>
                    <td ng-bind="item.username"></td>
                    <td ng-bind="item.description"></td>
                    <td><span ng-bind="service.formatDate(item.createtime)"></span></td>
                    <td><span ng-bind="service.formatDate(item.updatepwdtime)"></span></td>
                    <td><span ng-bind="service.formatDate(item.lastlogintime)"></span></td>
                    <td ng-bind="item.mail"></td>
                    <td ng-bind="item.phone"></td>
                    <td ng-bind="item.mobelphone"></td>
                    <td ng-bind="item.emergencyphone"></td>
                    <td ng-bind="item.homeaddress"></td>
                    <td><a href="javascript:;" class="green top-5" ng-if="service.refedit" ng-click="updateInfo(item)"><i class="glyphicon glyphicon-pencil bigger-120"></i></a>&nbsp;<a href="javascript:;" class="red top-5" ng-if="service.refdel" ng-click="remove(item)"><i class="glyphicon glyphicon-trash bigger-120"></i></a></td>
                </tr>
            </table>
        </div>
    </main>
    <aside class="usersmodaltemplate canvi-navbar">
        <div class="canvi-user-info">
            <div class="canvi-user-info__data">
                <span class="canvi-user-info__title" ng-bind="usersModal.title"></span>
                <!--<a href="#" class="canvi-user-info__meta">XXXX编辑</a>-->
                <div class="canvi-user-info__close" ng-click="usersModal.toggle();"></div>
            </div>

        </div>
            <form class="container-fluid" name="Form" verify-scope>
                <table class="table">
                    <tr>
                        <td>
                           账号                           
                        </td>
                        <td>
                            <input type="text" ng-verify="min:1, max:25" class="form-control" ng-model="selectItem.username" placeholder="输入1~25位用户名" />
                        </td>
                        <td>
                           密码
                        </td>
                        <td>
                            <input ng-if="Action==1" ng-verify="required:false"  name="pwd" type="password" ng-model="selectItem.pwd" class="form-control" placeholder="为空则表示不修改密码">
                            <input ng-if="Action==0" ng-verify="required:true"  name="pwd" type="password" ng-model="selectItem.pwd" class="form-control" placeholder="密码为1-25位,必填">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            重复密码
                        </td>
                        <td>
                            <input ng-if="Action==1" ng-verify="required:false" type="password" class="form-control" placeholder="为空则表示不修改密码">
                            <input ng-if="Action==0" ng-verify="required:true" type="password" class="form-control" placeholder="密码为1-25位,必填">
                        </td>
                        <td>
                           昵称                          
                        </td>
                        <td>
                            <input ng-verify="min:1, max:25" type="text" class="form-control" ng-model="selectItem.description" placeholder="输入用户昵称（非必填）" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            邮箱
                        </td>
                        <td>
                            <input ng-verify="{required:false}" type="email" class="form-control" ng-model="selectItem.mail" placeholder="输入邮箱（非必填）" />
                        </td>
                        <td>
                           电话                            
                        </td>
                        <td>
                            <input ng-verify="{pattern:/^([0-9]|[-])+$/,errmsg:'电话号码格式不正确',required:false}" type="text" ng-model="selectItem.phone" class="form-control" placeholder="输入电话号码（非必填）" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                           手机
                        </td>
                        <td>                          
                                <input ng-verify="{required:false}" type="phone" class="form-control" placeholder="输入手机号码（非必填）" ng-model="selectItem.mobelphone" />                        
                        </td>
                        <td>
                          紧急联系电话                          
                        </td>
                        <td>
                            <input ng-verify="{required:false}" type="phone" class="form-control" placeholder="输入手机号码（非必填）" ng-model="selectItem.emergencyphone" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            现居地址
                            <!-- 自定义正则,并自定义错误消息 -->
                        </td>
                        <td colspan="3">
                            <textarea ng-verify="pattern:/[\u4e00-\u9fa5]/, required:false, errmsg:'需要输入中文' " type="text" class="form-control" ng-model="selectItem.homeaddress" placeholder="输入中文（非必填）"></textarea>
                        </td>
        </tr>
        <!--<tr>
            <td>
                关联用户角色

            </td>
            <td colspan="3">
                <ui-select multiple ng-model="selectItem.__refutypeids" style="width:100%;">
                    <ui-select-match placeholder="请关联用户角色">
                        <span ng-bind="$item.value.typename" style="margin-right: 5px;">
                        </span>
                    </ui-select-match>
                    <ui-select-choices repeat="item.key  as (key,item) in service.privateDateObj.usertypeData | filter: { value: { typename: $select.search }}" >
                        <div ng-bind-html="item.value.typename | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </td>
        </tr>-->
        <tr>
            <td>
                关联用户组
            </td>
            <td colspan="3">
                <ui-select multiple ng-model="selectItem.__refgroupids" style="width:100%;">
                    <ui-select-match placeholder="请选择关联用户组">
                        <span ng-bind="$item.value.groupname" style="margin-right: 5px;">
                        </span>
                    </ui-select-match>
                    <ui-select-choices repeat="item.key  as (key,item) in service.privateDateObj.usergroupData | filter: { value: { groupname: $select.search }}">
                        <div ng-if="item.value.pid!=0&&item.value.idusergroup!=Source.selectItem.idusergroup" ng-bind-html="item.value.__parentname+'->'+item.value.groupname | highlight: $select.search"></div>
                        <div ng-if="item.value.pid==0&&item.value.idusergroup!=Source.selectItem.idusergroup" ng-bind-html="item.value.groupname | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </td>
        </tr>
        </table>
                <div class="text-right">
                    <button class="btn btn-primary btn-sm" ng-verify="control:'Form'" type="button" ng-click="save();savegroup();" title="请检查数据是否正确填写！">
                        保存
                    </button>
                    <button class="btn btn-warning btn-sm" type="button" ng-click="usersModal.close();">取消</button>
                </div>
      </form>
    </aside>
</block>
<block name="scriptTemplate">    
    
</block>

<block name="footjs">
    <script type="text/javascript" src="{$Think.const.PAGE_URL}js/Crmuser/Users/index.js?v={$Think.const.CRM_VERSION}"></script>
    <script type="text/javascript" src="{$Think.const.JS_URL}directive.pagebtn.js"></script>
    <script type="text/javascript" src="{$Think.const.PAGE_URL}js/Crmuser/Users/uploadBtn.js"></script>
</block>
