<extend name="angular-base.html" />
<block name="headcss">
    <link rel="stylesheet" href="{$Think.const.BOOTSTRAP_URL}angular-bootstrap-colorpicker/3.0.32/css/colorpicker.min.css">
</block>
<block name="headjs">
    <script src="{$Think.const.BOOTSTRAP_URL}angular-sanitize/{$Think.const.ANGULAR_VERSION}angular-sanitize.min.js"></script>
    <script type="text/javascript" src="{$Think.const.BOOTSTRAP_URL}angular-bootstrap-colorpicker/3.0.32/js/bootstrap-colorpicker-module.js"></script>
    <script>
        //初始化module并定义service
        appModuleInit(['ui.bootstrap', 'ui.grid', 'ui.grid.emptyBaseLayer',
     'ui.grid.pagination', 'ui.grid.resizeColumns', 'ui.grid.autoResize', 'ngVerify', 'colorpicker.module', 'ui.select']);

        /*
        service 数据源
        数据表名称+Data或业务名称+Data
        projectstatusData

        projectstatusData
        */

        //要在表格中显示的字段及名称，提取出来便于更改和查看
        function columns(vm, uiGridConstants) {
            return [{
                name: 'idprojectstatus', displayName: '图标', enableFiltering: false, cellClass: 'text-center',
                cellTemplate: function (grid, row, col, rowRenderIndex, colRenderIndex) {
                    return '<i class="fa fa-volume-control-phone bigger-120"></i>'
                }
            },
             {
                 name: 'name', displayName: '项目状态', enableFiltering: true,
                 menuItems: [{
                     title: '检索',
                     icon: 'ui-grid-icon-search',
                     action: function () {
                         vm.toggleFiltering(vm, uiGridConstants);
                     }
                 }],
                 cellClass: 'text-center'
             },
              {
                  name: 'del', displayName: '标签样式', enableFiltering: false, cellClass: 'text-center',
                  cellTemplate: function (grid, row, col, rowRenderIndex, colRenderIndex) {
                      return '<span class="label"  ng-style="grid.appScope.getLabelClass(row,0)" ng-bind="grid.appScope.getLabelClass(row,1)"></span>'
                  }
              },
             {
                 name: 'index', displayName: '操作', enableFiltering: false, cellClass: 'text-left',
                 cellTemplate: function (grid, row, col, rowRenderIndex, colRenderIndex) {
                     return '<a href="javascript:;" class="green top-5" ng-show="grid.appScope.service.refedit" ng-click="grid.appScope.updateInfo(grid, row, col, rowRenderIndex, colRenderIndex)"><i class="glyphicon glyphicon-pencil bigger-120"></i></a>&nbsp;&nbsp;<a href="javascript:;" class="red top-5" ng-show="grid.appScope.service.refdel" ng-click="grid.appScope.remove(grid, row, col, rowRenderIndex, colRenderIndex)"><i class="glyphicon glyphicon-trash bigger-120"></i></a> '
                 }
             }];
        }
        //主控制器
        appModule.controller('crmProjectstatusController', ['$scope', 'i18nService', 'dataService', 'uiGridConstants', 'alert', function ($scope, i18nService, dataService, uiGridConstants, alert) {
            // 国际化；
            i18nService.setCurrentLang("zh-cn");
            $scope.service = dataService;//要显示到页面上的数据源
            //ui-grid改变高度方法
            $scope.changeHeight = function () {
                var newHeight = document.body.clientHeight - 115;
                angular.element(document.getElementsByClassName('ui-grid')[0]).css('height', newHeight + 'px');
            };
            /*
                查询夏目状态（本页面使用）数据
            */
            $scope.select = function () {
                $scope.service.postData(__URL + 'Crmproject/Projectstatus/select_page_data', {}).then(function (data) {
                    $scope.service.projectstatusData = data;
                    $scope.gridOptions.data = $scope.service.projectstatusData;
                    $scope.changeHeight();
                }, function (error) {
                    console.log(error);
                });
            }
            //表格中的label标签模板
            $scope.getLabelClass = function (row, status) {
                //获取class
                if (status == 0) {
                    return { "background-color": row.entity.labelclass }
                } else if (status == 1) {
                    //获取值
                    return row.entity.name;
                }
            }
            //表格配置对象
            $scope.gridOptions = publicControllerGridOptions($scope);
            //表格列头
            $scope.gridOptions.columnDefs = columns($scope, uiGridConstants);
            //显示、隐藏检索方法
            $scope.toggleFiltering = function () {
                $scope.gridOptions.enableFiltering = !$scope.gridOptions.enableFiltering;
                $scope.gridApi.core.notifyDataChange(uiGridConstants.dataChange.COLUMN);
            };
            //刷新按钮
            $scope.refresh = refresh;
            //添加按钮
            $scope.add = function () {
                $scope.service.title = '新建状态';
                $scope.modalHtml = __URL + 'Crmproject/Projectstatus/openmodal';
                $scope.modalController = 'modalProjectstatusController';
                $scope.service.selectItem = '';
                //给一个默认的颜色
                $scope.service.selectItem = { labelclass: "#5661c9" };
                publicControllerAdd($scope);
            }
            //修改按钮
            $scope.updateInfo = function (grid, row, col, rowRenderIndex, colRenderIndex) {
                $scope.service.title = "修改状态";
                $scope.modalHtml = __URL + 'Crmproject/Projectstatus/openmodal';
                $scope.modalController = 'modalProjectstatusController';
                $scope.service.selectItem = row.entity;
                publicControllerUpdate($scope);
            }
            //删除按钮
            $scope.remove = function (grid, row, col, rowRenderIndex, colRenderIndex) {
                $scope.service.title = '删除状态';
                $scope.modalHtml = __URL + 'Crmproject/Projectstatus/openmodal';
                $scope.modalController = 'modalProjectstatusController';
                $scope.service.selectItem = row.entity;
                publicControllerDel($scope);
            }
            //页面加载完成后，查询数据
            $scope.select();
        }]);
    </script>
</block>
<block name="pageContent">
    <!--页头-->
    <div class="page-header clearfix">
        <h1 class="col-xs-3 text-left">
            {$MenuName}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {$PageName}
            </small>
        </h1>
        <div class="col-xs-4 text-center">
            <page-btn></page-btn>
        </div>
    </div>
    <!--快速检索-->
    <div class="table-header clearfix">
        <div class="col-xs-6">{$MenuName}<small><i class="ace-icon fa fa-angle-double-right"></i>{$PageName}</small></div>
    </div>
    <div>
        <div ui-grid="gridOptions"   ui-grid-auto-resize ui-grid-resize-columns ui-grid-pagination ui-grid-empty-base-layer></div>
    </div>
</block>

<block name="scriptTemplate">
    
</block>

<block name="footjs">
    <script type="text/javascript" src="{$Think.const.JS_URL}directive.pagebtn.js"></script>
    <script type="text/javascript" src="{$Think.const.PAGE_URL}js/Crmproject/Projectstatus/modal.js"></script>
    
</block>

