<extend name="angular-base.html" />
<block name="momentjs">
</block>
<block name="headcss">
    <link rel="stylesheet" href="{$Think.const.BOOTSTRAP_URL}angular-bootstrap-colorpicker/3.0.32/css/colorpicker.min.css">
    <link rel="stylesheet" href="{$Think.const.CSS_URL}my-comments.css" />
    <!--select start-->
    <link rel="stylesheet" href="{$Think.const.BOOTSTRAP_URL}select2/3.4.5/select.css">
    <script src="{$Think.const.BOOTSTRAP_URL}select2/3.4.5/select.js"></script>
    <link rel="stylesheet" href="{$Think.const.BOOTSTRAP_URL}select2/3.4.5/select2.css">
    <link rel="stylesheet" href="{$Think.const.BOOTSTRAP_URL}select2/3.4.5/selectize.default.css">
    <link rel="stylesheet" href="{$Think.const.PAGE_URL}css/crmProject/my-project-info.css" />
    <link rel="stylesheet" href="{$Think.const.CSS_URL}my-gallery.css" />
    <!--color-picker-->
    <link rel="stylesheet" href="{$Think.const.BOOTSTRAP_URL}angular-bootstrap-colorpicker/3.0.32/css/colorpicker.min.css">
    <!--angular-datepicker-->
    <!--<link rel="stylesheet" href="{$Think.const.BOOTSTRAP_URL}angular-datepicker/styles/style.css" />-->
    <link rel="stylesheet" href="{$Think.const.BOOTSTRAP_URL}angular-datepicker/angular-datepicker.css" />
    <!--select end-->
    <style>
        table.dataTable {
            border-collapse: collapse;
            width: 100%;
            table-layout: fixed;
            box-sizing: border-box;
        }

            table.dataTable tr td {
                /*border: 1px solid #efefef;
                background-color: #f9f9f9;*/
                border: 1px solid #ccc;
                background-color: #fff;
                padding-left: 12px;
                padding-right: 12px;
                padding-top: 6px;
                padding-bottom: 6px;
                text-align: center;
                box-sizing: border-box;
                /* height: 100%; */
                word-break: break-all;
                line-height: 20px;
                color: #666;
            }

        div[uib-datepicker-popup-wrap] {
            display: inline-block;
        }
    </style>
</block>
<block name="headjs">
    <script type="text/javascript" src="{$Think.const.BOOTSTRAP_URL}angular-bootstrap-colorpicker/3.0.32/js/bootstrap-colorpicker-module.js"></script>
    <script src="{$Think.const.BOOTSTRAP_URL}angular-file-upload/angular-file-upload.min.js"></script>
    <script>
        var _id = '{$id}';
        //存一份userid
        var _userid = "{$userid}";
    </script>
</block>
<block name="pageContent">
    <!--页头-->
    <div class="page-header clearfix">
        <h1 class="col-xs-3 text-left">
            {$MenuName}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {$PageName}
            </small>
        </h1>
        <div class="col-xs-4 text-center">
            <a ng-click="refresh()" class="btn btn-success btn-sm">
                <!-- 此处可暂时保留原方法（防止带有编辑/添加/删除等按钮） -->
                <i class="glyphicon glyphicon-refresh"></i>刷新
            </a>
        </div>
    </div>

    <div class="table-header clearfix">
        <div class="col-xs-6">产品详细信息</div>
    </div>
    <div class="">
        <table class="display dataTable no-footer">
            <thead>
                <tr>
                    <td>产品名称</td>
                    <td>产品简称</td>
                    <td>描述</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span ng-bind="service.selectedItemProduct.name"></span></td>
                    <td><span ng-bind="service.selectedItemProduct.abbreviation"></span></td>
                    <td><span ng-bind="service.selectedItemProduct.description"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-header clearfix">
        <div class="col-xs-6">产品型号详细信息</div>
    </div>
    <div class="" >
        <table class="dataTable  "  >
            <thead>
                <tr>
                    <td style="width:10%">型号名称</td>
                    <td style="width:10%">产品类型</td>
                    <td style="width:7%" >列表价</td>
                    <td style="width:7%">eu底价</td>
                    <td style="width:7%">si底价</td>
                    <td style="width:10%">内部核算价</td>
                    <td>描述</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, row)  in service.productmodelData">
                    <td><span ng-bind="row.name"></span> </td>
                    <td><span ng-bind="row.manufacturers"></span> </td>
                    <td><span ng-bind="row.plist |currency :'￥':'0'"></span> </td>
                    <td><span ng-bind="row.peu|currency :'￥':'0'"></span> </td>
                    <td><span ng-bind="row.psi|currency :'￥':'0'"></span> </td>
                    <td><span ng-bind="row.pinter|currency :'￥':'0'"></span> </td>
                    <td><span ng-bind="row.description"></span> </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-header clearfix" style="clear:both;">
        <div class="col-xs-6">产品附件详细信息</div>
    </div>
    <div class="col-xs-12" >
        <div class="profile-info-value">
            <ul class="ace-thumbnails clearfix">
                <li ng-repeat="item in productAnnx track by $index" ng-show="close{{item.idannex}}==undefined">
                    <div>
                        <img width="150" height="60" alt="150x60" ng-src="{{publicFilterAnnexName(item.name)}}" />
                        <div class="tags">
                            <span ng-bind="item.name.length>5?item.name.slice(0,5)+'...':item.name"></span>
                            <span ng-bind="(item.filesize/1024/1024).toFixed(1)"></span>MB
                        </div>
                        <div class="text" ng-attr-title="{{item.name}}">
                            <div class="inner">
                                <span ng-bind="item.name.length>9?item.name.slice(0,9)+'...':item.name"></span>
                                <br />

                                <a href="#" ng-click="downLoad(item.idannex)">
                                    <i class="ace-icon fa fa-download"></i>
                                </a>                          
                            </div>
                        </div>
                    </div>
                </li>   
            </ul>

        </div>
    </div>


    <!--评论组件-->
    <div page-comment />
</block>

<block name="scriptTemplate">

</block>

<block name="footjs">
    <script type="text/javascript" src="{$Think.const.PAGE_URL}js/Product/Product/selectdetailed.js"></script>
    <!-- 配置文件 -->
    <script type="text/javascript" src="{$Think.const.BOOTSTRAP_URL}ueditor/1.4.3.3/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="{$Think.const.BOOTSTRAP_URL}ueditor/1.4.3.3/ueditor.all.js"></script>
</block>
