<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM</title>
</head>
<body>
    <div style="align-content:center;">
        <p style="font-size: 32px; color: black; text-align: center">昕辰企业管理平台</p>
        <h1>
            抱歉！当前CRM还不支持手机端操作，请您在电脑上登录
        </h1>
        <footer class="footer navbar-fixed-bottom ">
            <div class="container">
                <p style="font-size: 12px; color: black; text-align: center">Copyright © 2016-2018 By xinchen Allrights Reserved.</p>
                <p style="font-size: 12px; color: black; text-align: center">北京昕辰清虹科技有限公司</p>
                <p style="font-size: 12px; color: black; text-align: center">010-64126508</p>
            </div>
        </footer>
    </div>
</body>
</html>