<div class="modal-header clearfix">
    <h4 class="modal-title f-l">{{Source.title}}</h4>
    <a href="javascript:;" class="closebtn" ng-click="config_cancel()"><i class="glyphicon glyphicon-remove"></i></a>
</div>
<div class="modal-body" style="max-height:545px;">
    <!--RDP-->
    <div ng-show="service.sessionsetting.typename=='RDP'">
        <div class="btn-group btn-group-sm">
            <button type="button" class="btn" ng-class="tab_page=='tab_Basic'||tab_page==undefind?'btn-primary':'btn-default'" ng-click="tab_page = 'tab_Basic'">基本</button>
            <button type="button" class="btn" ng-class="tab_page=='tab_show'?'btn-primary':'btn-default'" ng-click="tab_page = 'tab_show'">显示</button>
            <button type="button" class="btn" ng-class="tab_page=='tab_local'?'btn-primary':'btn-default'" ng-click="tab_page = 'tab_local'">本地</button>
            <button type="button" class="btn" ng-class="tab_page=='tab_program'?'btn-primary':'btn-default'" ng-click="tab_page = 'tab_program'">程序</button>
            <button type="button" class="btn" ng-class="tab_page=='tab_advanced'?'btn-primary':'btn-default'" ng-click="tab_page = 'tab_advanced'">高级</button>
        </div>
        <div class="top-5">
            <!--基本-->
            <div class="panel panel-default" ng-show="tab_page=='tab_Basic'||tab_page==undefind">
                <div class="panel-body">
                    端口<input type="text" ng-model="service.sessionsetting.settings.port" /><br />
                    域<input type="text" ng-model="service.sessionsetting.settings.domain" /><br />
                    <input type="checkbox" ng-model="service.sessionsetting.settings.console" /> 是否登录到主控会话或管理模式（console session, or admin mode）
                    <br />
                    <input type="checkbox" ng-model="service.sessionsetting.settings.legacyMode" />兼容模式(如果你正在连接到 xrdp 或 VirtualBox RDP 请启用兼容模式)
                    <br />
                </div>
            </div>
            <!--显示-->
            <div class="panel panel-default" ng-show="tab_page=='tab_show'">
                <div class="panel-body">
                    <label>输入您的远程桌面的大小：</label><br />
                    宽度：<input type="text" ng-model="service.sessionsetting.settings.width" /><br />
                    高度：<input type="text" ng-model="service.sessionsetting.settings.height" /><br />
                    <button class="btn btn-primary btn-xs" ng-click="service.sessionsetting.settings.width=0;service.sessionsetting.settings.height=0;">全屏浏览器</button>
                    <button class="btn btn-primary btn-xs" ng-click="btn_useFullScreen();">全屏显示器</button>
                    <br />
                    <label>颜色深度</label><br />
                    <select class="form-control" ng-model="service.sessionsetting.settings.server_bpp">
                        <option value="8">256</option>
                        <option value="16" ng-selected="true">高色彩(16位)</option>
                        <option value="24">真彩色(24位)</option>
                        <option value="32">最高质量(32位)</option>
                    </select>
                    <br />
                    <input type="checkbox" ng-model="service.sessionsetting.settings.nocursor" />禁用远程光标
                </div>
            </div>
            <!--本地-->
            <div class="panel panel-default" ng-show="tab_page=='tab_local'">
                <div class="panel-body">
                    <label>远程音频播放：</label>
                    <select class="form-control" style="width:120px;" ng-model="service.sessionsetting.settings.playSound">
                        <option value="0" ng-selected="true">启用</option>
                        <option value="1">禁用</option>
                        <option value="2">仅在远程电脑上播放</option>
                    </select>
                    <label>质量 ：</label>
                    <select class="form-control" style="width:120px;" ng-model="service.sessionsetting.settings.soundPref">
                        <option value="0">低</option>
                        <option value="1" ng-selected="true">高</option>
                    </select><br />
                    <label>选择您想要在远程会话中使用的设备和资源</label><br />
                    <input type="checkbox" ng-model="service.sessionsetting.settings.mapClipboard" />启用剪贴板(在本地和远程之间复制文本，图像，html)<br />
                    <input type="checkbox" ng-model="service.sessionsetting.settings.mapPrinter" />打印机,名称<input type="text" value="0" /><br />
                    <input type="checkbox" ng-model="service.sessionsetting.settings.mapDisk" />上传/下载文件(连接后将文件拖到屏幕上)
                </div>
            </div>
            <!--程序-->
            <div class="panel panel-default" ng-show="tab_page=='tab_program'">
                <div class="panel-body">
                    <input type="radio" ng-model="service.sessionsetting.settings.startProgram" value="shell" name="tab_program" />连接时启动以下程序:<br />
                    程序路径和文件名称 <input type="text" ng-model="service.sessionsetting.settings.command" /><br />
                    从以下文件夹开始<input type="text" ng-model="service.sessionsetting.settings.directory" /><br />
                    <hr />
                    <input type="radio" ng-model="service.sessionsetting.settings.startProgram" value="app" name="tab_program" />RemoteApp:<br />
                    EXE或文件 <input type="text" ng-model="service.sessionsetting.settings.exe" /><br />
                    参数<input type="text" ng-model="service.sessionsetting.settings.args" /><br />
                    <hr />
                    <input type="radio" ng-model="service.sessionsetting.settings.startProgram" ng-checked="true" value="noapp" name="tab_program" checked />没有
                </div>
            </div>
            <!--高级-->
            <div class="panel panel-default" ng-show="tab_page=='tab_advanced'">
                <div class="panel-body">
                    <input type="checkbox" ng-model="service.sessionsetting.settings.background" />桌面背景<br />
                    <input type="checkbox" ng-model="service.sessionsetting.settings.smoothfont" />字体平滑<br />
                    <input type="checkbox" ng-model="service.sessionsetting.settings.composition" />桌面组成<br />
                    <input type="checkbox" ng-model="service.sessionsetting.settings.contents" />拖动时显示窗口内容<br />
                    <input type="checkbox" ng-model="service.sessionsetting.settings.animation" />菜单和窗口动画<br />
                    <input type="checkbox" ng-model="service.sessionsetting.settings.styles" />视觉风格<br />
                    <input type="checkbox" ng-model="service.sessionsetting.settings.bitmap" />持久性位图缓存<br />
                    <hr />
                    网络级别认证(credSSP)
                    <select class="form-control" ng-model="service.sessionsetting.settings.credSSP">
                        <option value="0">启用</option>
                        <option value="1" ng-selected="true">禁用</option>
                        <option value="2">自动</option>
                    </select>
                    <br />
                    <input type="checkbox" ng-model="service.sessionsetting.settings.remotefx" />RemoteFX（仅限32位彩色和局域网）<br />
                    会话记录
                    <select class="form-control" ng-model="service.sessionsetting.settings.sessionRecord">
                        <option value="0">禁用</option>
                        <option value="1" ng-selected="true">仅录制图形</option>
                    </select>
                    <br />
                    <input type="checkbox" ng-model="service.sessionsetting.settings.decompressingRDP61" />RDP6.1解压<br />
                    <!--负载均衡：<input type="text" ng-model="service.sessionsetting.settings.loadBalanceInfo" /><br />-->
                    <!--Hyper-V VM ID：<input type="text" ng-model="service.sessionsetting.settings.vmid" />连接到Hyper-V控制台时，Hyper-V控制台的默认侦听端口是2179<br />-->
                    <!--计算机名称：<input type="text" ng-model="service.sessionsetting.settings.clientHost" /><br />-->

                </div>
            </div>
        </div>
    </div>
    <!--xRDP-->
    <div ng-show="service.sessionsetting.typename=='xRDP'">
        无
    </div>
    <!--VNC-->
    <div ng-show="service.sessionsetting.typename=='VNC'">
        端口<input type="text" ng-model="service.sessionsetting.settings.port" /><br />
        编码方式
        <select class="form-control" ng-model="service.sessionsetting.settings.encoding">
            <option value="ZRLE" ng-selected="true">ZRLE</option>
            <option value="Raw">Raw</option>
            <option value="Tight">Tight</option>
            <option value="Hextile">Hextile</option>
        </select>
        <br />
        图像质量
        <select class="form-control" ng-model="service.sessionsetting.settings.quality">
            <option value="1">1 (Lowest quality)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5" ng-selected="true">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9 (Best quality)</option>
        </select>
        <br />
        ZIP压缩
        <select ng-model="service.sessionsetting.settings.compression">
            <option value="1">1(Little compression)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6" ng-selected="true">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </select>
        CopyRect编码
        <input type="checkbox" ng-model="service.sessionsetting.settings.UseCopyRect" /><br />
        Colors
        <select class="form-control" ng-model="service.sessionsetting.settings.color">
            <option value="32">Full color(24bit)</option>
            <option value="8">256 color</option>
            <option value="16" ng-selected="true">Full color(16bit,Tight encoding only)</option>
        </select>
        <br />
        <input type="checkbox" ng-model="service.sessionsetting.settings.share" />共享服务器<br />
        <input type="checkbox" ng-model="service.sessionsetting.settings.mapClipboard" />启用剪贴板<br />
        会话记录
        <select class="form-control" ng-model="service.sessionsetting.settings.sessionRecord">
            <option value="0">禁用</option>
            <option value="1" ng-selected="true">仅录制图形</option>
        </select>
    </div>
    <!--SSH-->
    <div ng-show="service.sessionsetting.typename=='SSH'">
        端口<input type="text" ng-model="service.sessionsetting.settings.port" /><br />
        字体大小<input type="text" ng-model="service.sessionsetting.settings.fontSize" />(像素)<br />
        <input type="checkbox" ng-model="service.sessionsetting.settings.mapClipboard" />启用剪贴板<br />
        会话记录
        <select class="form-control" ng-model="service.sessionsetting.settings.sessionRecord">
            <option value="0">禁用</option>
            <option value="1" ng-selected="true">仅录制图形</option>
        </select>
    </div>
    <!--TELNET-->
    <div ng-show="service.sessionsetting.typename=='TELNET'">
        端口<input type="text" ng-model="service.sessionsetting.settings.port" /><br />
        字体大小<input type="text" ng-model="service.sessionsetting.settings.fontSize" />(像素)<br />
        <input type="checkbox" ng-model="service.sessionsetting.settings.mapClipboard" />启用剪贴板<br />
        会话记录
        <select class="form-control" ng-model="service.sessionsetting.settings.sessionRecord">
            <option value="0">禁用</option>
            <option value="1" ng-selected="true">仅录制图形</option>
        </select>
    </div>
    <!--KVM-->
    <div ng-show="service.sessionsetting.typename=='KVM'">
        启动方式
        <select class="form-control" ng-model="service.sessionsetting.settings.kvmStartType">
            <option value="0" ng-selected="true">Avocent</option>
            <option value="1">Emerson</option>
        </select>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="config_save(service.sessionsetting.typename)">保存</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="config_cancel()">取消</button>
</div>
