<extend name="angular-base.html" />
<block name="headcss">
    <link rel="stylesheet" href="{$Think.const.BOOTSTRAP_URL}angular-bootstrap-colorpicker/3.0.32/css/colorpicker.min.css">
</block>
<block name="headjs">
    <script src="{$Think.const.BOOTSTRAP_URL}angular-sanitize/{$Think.const.ANGULAR_VERSION}angular-sanitize.min.js"></script>
    <script type="text/javascript" src="{$Think.const.BOOTSTRAP_URL}angular-bootstrap-colorpicker/3.0.32/js/bootstrap-colorpicker-module.js"></script>
    <script>       
        //初始化modal并定义service
        appModuleInit(['ui.bootstrap', 'ngVerify', 'datePicker', 'ui.select', 'colorpicker.module']);

        //要在表格中显示的字段及名称，提取出来便于更改和查看
        function columns(vm, uiGridConstants) {
            return [{
                name: 'idcustomerindustry', displayName: '图标', enableFiltering: false, cellClass: 'text-center',
                cellTemplate: function (row) {
                    return '<i class="fa fa-briefcase  bigger-120"></i>'
                }
            },

             {
                 name: 'industryname', displayName: '行业名称', enableFiltering: true,
                 menuItems: [{
                     title: '检索',
                     icon: 'ui-grid-icon-search',
                     action: function () {
                         vm.toggleFiltering(vm, uiGridConstants);
                     }
                 }],
                 cellClass: 'text-center'
             },
              {
                  name: 'del', displayName: '标签样式', enableFiltering: false, cellClass: 'text-center',
                  cellTemplate: function (row) {
                      return '<span class="label"  ng-style="grid.appScope.getLabelClass(grid, row,0)" ng-bind="grid.appScope.getLabelClass(grid, row,1)"></span>'
                  }
              },
             {
                 name: 'group_type', displayName: '操作', enableFiltering: false, cellClass: 'text-left',
                 cellTemplate: function (row) {
                     return '<a href="javascript:;" class="green top-5" ng-show="grid.appScope.service.refedit"  ng-click="grid.appScope.updateInfo(row)"><i class="glyphicon glyphicon-pencil bigger-120"></i></a>&nbsp;&nbsp;<a href="javascript:;" class="red top-5" ng-show="grid.appScope.service.refdel" ng-click="grid.appScope.remove(row)"><i class="glyphicon glyphicon-trash bigger-120"></i></a> '
                 }
             }];
        }
        //主控制器
        appModule.controller('crmCustomerindustryController', ['$scope', "$q", 'dataService',  'alert', function ($scope,$q,dataService,  alert) {
            _$scope = $scope;
            _$q = $q;
            $scope.service = dataService;//要显示到页面上的数据源
           
            /*
                查询用户（本页面使用）数据
            */
            $scope.select = function () {
                select_customer_industry().then(function (res) { });               
            }

            //表格中的label标签模板
            $scope.getLabelClass = function ( row, status) {
                //获取class
                if (status == 0) {
                    return { "background-color": row.labelclass }
                } else if (status == 1) {
                    //获取值
                    return row.industryname;
                }
            }
            //显示到页面上的数据源
            $scope.customerindustryData = [];
          
            //刷新按钮
            $scope.refresh = refresh;

            //添加按钮
            $scope.add = function () {
                $scope.service.title = '新建行业';
                $scope.modalHtml = __URL + 'Crmcustomerinfo/Customerindustry/openmodal';
                $scope.modalController = 'modelCustomerindustryController';
                $scope.service.selectItem = '';
                //给一个默认的颜色
                $scope.service.selectItem = { labelclass: "#5661c9" };
                publicControllerAdd($scope);
            }
            //修改按钮
            $scope.updateInfo = function (row) {
                $scope.service.title = "修改行业";
                $scope.modalHtml = __URL + 'Crmcustomerinfo/Customerindustry/openmodal';
                $scope.modalController = 'modelCustomerindustryController';
                $scope.service.selectItem = row;
                $scope.service.selectItem.mobelphone = $scope.service.selectItem.mobelphone == "undefined" ? '暂无' : $scope.service.selectItem.mobelphone;
                $scope.service.selectItem.emergencyphone = $scope.service.selectItem.emergencyphone == "undefined" ? '暂无' : $scope.service.selectItem.emergencyphone;
                $scope.service.selectItem.homeaddress = $scope.service.selectItem.homeaddress == "undefined" ? '暂无' : $scope.service.selectItem.homeaddress;
                publicControllerUpdate($scope);
            }
            //删除按钮
            $scope.remove = function (row) {
                $scope.service.title = '删除行业';
                $scope.modalHtml = __URL + 'Crmcustomerinfo/Customerindustry/openmodal';
                $scope.modalController = 'modelCustomerindustryController';
                $scope.service.selectItem = row;
                publicControllerDel($scope);
            }
            //页面加载完成后，查询数据
            $scope.select();
        }]);
    </script>
   
</block>
<block name="pageContent">
    <!--页头-->
    <div class="page-header clearfix">
        <h1 class="col-xs-3 text-left">
            {$MenuName}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {$PageName}
            </small>
        </h1>
        <div class="col-xs-4 text-center">
            <page-btn></page-btn>
        </div>
    </div>
    <!--快速检索-->
    <div class="table-header clearfix">
        <div class="col-xs-6">{$MenuName}<small><i class="ace-icon fa fa-angle-double-right"></i>{$PageName}</small></div>
    </div>
    <div>
        <table class="table">
            <tr>
                <th>图标</th>
                <th>客户类型</th>
                <th>标签样式</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="(key, row)  in service.customerindustryData">
                <td><i class="fa fa-tty bigger-120"></i></td>
                <td ng-bind="row.industryname"></td>
                <td>
                    <span class="label" ng-style="getLabelClass(row,0)" ng-bind="getLabelClass(row,1)"></span>
                </td>
                <td>
                    <a href="javascript:;" class="green top-5" ng-show="service.refedit" ng-click="updateInfo( row)"><i class="glyphicon glyphicon-pencil bigger-120"></i></a>&nbsp;&nbsp;
                    <a href="javascript:;" class="red top-5" ng-show="service.refdel" ng-click="remove(row)"><i class="glyphicon glyphicon-trash bigger-120"></i></a>
                </td>
            </tr>
        </table>
        </div>
</block>

<block name="scriptTemplate">
    
</block>

<block name="footjs">
    <script type="text/javascript" src="{$Think.const.PAGE_URL}js/Crmcustomerinfo/Customerindustry/modal.js"></script>
    <script type="text/javascript" src="{$Think.const.JS_URL}directive.pagebtn.js"></script>
</block>
