<div class="page-header clearfix">
    <h1>
        系统管理<small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            授权管理
        </small>
        <a href="/index.php/Home/Question/getlicense_instr_page" target="_blank"><i class="api fa fa-question-circle-o "></i></a>
    </h1>
</div>
 <div class="mt-5">
     <div class="table-header">授权许可
         <a href="javascript:;" class="f-r" style="padding-right:20px;text-decoration:underline;color:#fff">
             <i class="fa fa-download"></i>下载
         </a>                                      
     </div>
     <table class="table table-striped table-bordered table-hover table-responsive">          
         <tr>
             <td class="text-right col-md-2">
                 授权用户
             </td>
             <td colspan="2" class="text-left col-md-10">
                 北京昕辰清虹科技有限公司
             </td>
         </tr>
         <tr>
             <td class="text-right col-md-2">
                 设备许可数量
             </td>
             <td colspan="2" class="text-left col-md-10">
                 500
             </td>
         </tr>
         <tr>
             <td class="text-right col-md-2">
                 授权类型
             </td>
             <td colspan="2" class="text-left col-md-10">
                 永久授权
             </td>
         </tr>
         <tr>
             <td class="text-right col-md-2">
                 授权颁发日期
             </td>
             <td colspan="2" class="text-left col-md-10">
                 2018/05/10
             </td>
         </tr>
         <tr>
             <td class="text-right col-md-2">
                 审计状态
             </td>
             <td colspan="2" class="text-left col-md-10">
                 无审计
             </td>
         </tr>
         <tr>
             <td class="text-right col-md-2">
                 特征码
             </td>
             <td class="col-md-8">
                 <textarea style="width:100%">
                     MOCQOddYuaEjTsgFg3KRZKpF14pzr2zcgUWWWT/KJgiyROUo4v9FlM9pCc3eNv0GtIsGfNnrvj54IXjBXNEAuUZTkudncc8YUafnTh/rMpyXENE/ze+FWqlJrvXftTESBBUqW1fCckQbrcoK2KM8SZwK0thopd+Uua6UgnFn1d1GjckKsKWLMEEan++guPs4TqwcoAlwZXYsCO4G8oCilILPAG9JEooyRmrDz79JUReBOkmxgUdA70uyxhVXYA+x+Mz66VvQtwxZTKhSm54fjE5NqFfk4Zpxk0llLzzQr4g=
                 </textarea>
               </td>
             <td class="col-md-2">
                 <a class="btn btn-sm">
                     <i class="fa fa-snowflake"></i>获取
                 </a>
             </td>
         </tr>
         <tr>
             <td class="text-right col-md-2">
                 图形特征码
             </td>
             <td class="col-md-8">
                 <img onclick="this.src = '/index.php/Eimsystemsetting/getsnimg/'+Math.random()" title="获取二维码" src="/index.php/Eimsystemsetting/getsnimg" />
             </td>
             <td class="col-md-2">
                 <a class="btn btn-sm">
                     <i class="fa fa-images"></i>获取
                 </a>
             </td>
         </tr>
         <tr>
             <td class="text-right col-md-2">
                 授权文件
             </td>
             <td class="col-md-8">
                 x123ad324adf8654634.bin
             </td>
             <td class="col-md-2">
                 <a class="btn btn-sm">
                     <i class="fa fa-save"></i>上传
                 </a>
                 <a class="btn btn-sm">
                     <i class="fa fa-save"></i>保存
                 </a>
             </td>
         </tr>
         <tr>
             <td class="text-right col-md-2">
                 设备序列号
             </td>
             <td colspan="2" class="text-left col-md-10">
                 mpu:80213587
             </td>
         </tr>        
     </table>
     </div>