    <!--页头-->
<div class="page-header clearfix">
    <div class="col-xs-12 text-center">
        <a ng-click="add()" class="btn btn-success  btn-sm">
            <i class="glyphicon glyphicon-plus"></i>
            添加
        </a>
        <a ng-click="" class="btn btn-success btn-sm">
            <i class="glyphicon glyphicon-refresh"></i>刷新
        </a>
    </div>
</div>
<div class="mt-5">
    <div class="table-header">
        用户组管理
        <a href="javascript:;" class="f-r" style="padding-right:20px;text-decoration:underline;color:#fff">
            <i class="fa fa-download"></i>导出
        </a>
    </div>
    <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
        <tr>
            <th>序号</th>
            <th>名称</th>
            <th>父级组</th>
            <th>关系</th>
            <th>操作</th>
        </tr>
        <tr ng-repeat="(key,item) in service.privateDateObj.usergroupData track by $index" >
            <td ng-bind="key"></td>
            <td ng-bind="item.groupname"></td>
            <td ng-bind="item.__parentname"></td>
            <td>
                <a href="javascript:;" class="blue">用户(<b ng-bind="item.__refusers.length"></b>)</a><br />
                <!--<a href="javascript:;" class="blue">设备(<b ng-bind="item.__refdevices.length"></b>)</a><br />
                <a href="javascript:;" class="blue">设备组(<b ng-bind="item.__refdgroups.length"></b>)</a>-->
            </td>
            <td>
                <a href="javascript:;" class="green top-5" ng-click="updateInfo(item)"><i class="glyphicon glyphicon-pencil"></i></a>&nbsp;
                <a href="javascript:;" class="red top-5" ng-click="remove(item)"><i class="glyphicon glyphicon-trash "></i></a>&nbsp;
                <a href="javascript:;" class="orange top-5 bigger-110" ng-click="authInfo(item)"><i class="fa fa-key"></i></a>
            </td>
        </tr>
    </table>
    <div class="text-right">共<b class="blue" ng-bind="length(service.privateDateObj.usergroupData)"></b>条</div>
</div>
<script type="text/ng-template" id="Crmuser/Usergroup/eim_modal">
    <div class="modal-header clearfix">
        <h4 class="modal-title f-l">{{Source.title}}</h4>
        <a href="javascript:;" class="closebtn" ng-click="cancel()"><i class="glyphicon glyphicon-remove"></i></a>
    </div>
    <div class="modal-body" style="padding:0;">
        <form name="Form" class="container-fluid" verify-scope>
            <table class="table" style="margin-bottom:8px;">
                <tr class="info">
                    <td colspan="4">基本信息</td>
                </tr>
                <tr>
                    <td class="text-right"><b class="c-red">*</b>组名称</td>
                    <td colspan="3"><input style="width:100%;" type="text" ng-model="Source.selectItem.groupname" /></td>
                </tr>
                <tr>
                    <td class="text-right"><b class="c-red">*</b>选择父级</td>
                    <td colspan="3">
                        <ui-select  ng-model="Source.selectItem.pid" on-select="">
                            <ui-select-match placeholder="请选择父级">
                                <span ng-if="$select.selected.value&&$select.selected.value.pid!=0" ng-bind="$select.selected.value.__parentname+'->'+$select.selected.value.groupname" style="margin-right: 5px;">
                                </span>
                                <span ng-if="$select.selected.value&&$select.selected.value.pid==0" ng-bind="$select.selected.value.groupname" style="margin-right: 5px;">
                                </span>
                            </ui-select-match>
                            <ui-select-choices repeat="item.key  as (key,item) in service.privateDateObj.usergroupData | filter: { value: { groupname: $select.search }}" style="max-height: 150px;">
                                <div ng-if="item.value.pid!=0&&item.value.idusergroup!=Source.selectItem.idusergroup" ng-bind-html="item.value.__parentname+'->'+item.value.groupname | highlight: $select.search"></div>
                                <div ng-if="item.value.pid==0&&item.value.idusergroup!=Source.selectItem.idusergroup" ng-bind-html="item.value.groupname | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                </tr>
                <tr class="info">
                    <td colspan="4">访问信息</td>
                </tr>
                <!--<tr>
                    <td class="text-right">设备名称</td>
                    <td colspan="3">

                    </td>
                </tr>
                <tr>
                    <td class="text-right" style="width:25%;">设备组</td>
                    <td colspan="3" style="width:50%;"></td>
                </tr>-->
                <tr>
                    <td class="text-right">用户</td>
                    <td colspan="3">
                        <ui-select multiple ng-model="Source.selectItem.__refusers"  style="width:100%;">
                            <ui-select-match placeholder="请选择关联用户">
                                <span ng-bind="$item.value.description" style="margin-right: 5px;">
                                </span>
                            </ui-select-match>
                            <ui-select-choices repeat="item.value.idusers  as (key,item) in service.privateDateObj.usersData | filter: { value: { description: $select.search }}" style="max-height: 150px;">
                                <div ng-bind-html="item.value.description | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </td>                    
                </tr>
            </table>
        </form>
        <div style="clear:both;"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" ng-verify="control:'Form'" type="button" ng-click="save()">保存</button>
        <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">取消</button>
    </div>
</script>
<script type="text/ng-template" id="Crmuser/Usergroup/auth_modal">
    <div class="modal-header clearfix">
        <h4 class="modal-title f-l">{{Source.title}}</h4>
        <a href="javascript:;" class="closebtn" ng-click="cancel()"><i class="glyphicon glyphicon-remove"></i></a>
    </div>
    <div class="modal-body" style="padding:0;">
        <form name="Form" class="container-fluid" verify-scope>
            <table class="table" style="margin-bottom:8px;">
                <thead>
                    <tr>
                        <td style="width:15%;">复选框</td>
                        <td style="width:20%;">页面名称</td>
                        <td style="width:65%;">操作</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="">
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>              
               
            </table>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" ng-verify="control:'Form'" type="button" ng-click="save()">保存</button>
        <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">取消</button>
    </div>

</script>
