<!--页头-->
<div class="page-header clearfix">
    <div class="col-xs-12 text-center">
        <a ng-click="btn_add()" class="btn btn-success  btn-sm">
            <i class="glyphicon glyphicon-plus"></i>
            添加
        </a>
        <a ng-click="select(1)" class="btn btn-success btn-sm">
            <i class="glyphicon glyphicon-refresh"></i>刷新
        </a>
        <a ng-click="" class="btn btn-warning btn-sm">
            <i class="glyphicon glyphicon-refresh"></i>导入
        </a>
    </div>
</div>
<div class="top-5">
    <div class="table-header">
       会话控制中心      
    </div>
    <table class="table table table-striped table-bordered table-hover table-condensed table-responsive">
        <thead>
            <tr>
                <th>序号</th>
                <th>名称</th>
                <th>中心地址</th>
                <th>端口号</th>
                <th>并发数量</th>
                <th>详细配置</th>
                <th>活动链接</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in service.privateDateObj.sessioncenterData">
                <td><label ng-bind="item.idsessioncenterlist"></label></td>
                <td><label ng-bind="item.name"></label></td>
                <td><label ng-bind="item.ip"></label></td>
                <td><label ng-bind="item.port"></label></td>
                <td><label ng-bind="item.licensecount"></label></td>
                <td><button type="button" class="btn btn-link btn-xs" ng-click="btn_configinfo(item)">详细配置</button>  </td>
                <td><button type="button" class="btn btn-link btn-xs" ng-click="btn_open_sessions(item)">查看</button> </td>
                <td>
                    <a href="javascript:;" title="编辑" class="green top-5" ng-click="btn_updateInfo(item)">
                        <i class="glyphicon glyphicon-pencil fa-lg"></i>
                    </a>
                    &nbsp;&nbsp;
                    <a href="javascript:;" title="删除" class="red top-5" ng-click="btn_deleteInfo(item)">
                        <i class="glyphicon glyphicon-trash fa-lg"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script type="text/ng-template" id="Eimsystemsetting/Sessioncenterlist/openmodal">
    <div class="modal-header clearfix">
        <h4 class="modal-title f-l">{{Source.title}}</h4>
        <a href="javascript:;" class="closebtn" ng-click="cancel()"><i class="glyphicon glyphicon-remove"></i></a>
    </div>

    <div class="modal-body">
        <div class="form-container">
            <form name="Form" verify-scope class="myform">
                <div class="form-group">
                    <label><b class="red">*</b>中心名称</label>
                    <input type="text" ng-verify="min:1, max:25" class="form-control" ng-model="Source.selectItem.name" placeholder="default" />
                </div>
                <div class="form-group">
                    <label><b class="red">*</b>中心地址</label>
                    <input type="text" ng-verify="min:5, max:15" class="form-control" ng-model="Source.selectItem.ip" placeholder="请输入1~15个字符" />
                </div>
                <div class="form-group">
                    <label><b class="red">*</b>通讯端口</label>
                    <input type="text" ng-readonly="Source.Action==2" ng-verify="min:1, max:9" class="form-control" ng-model="Source.selectItem.port" placeholder="请输入1~9个字符" />
                </div>
                <div class="form-group">

                    <label>并发数量</label>
                    <select ng-model="Source.selectItem.licensecount"
                            ng-options="item for item in service.privateDateObj.licensedata"></select>
                </div>
                <div class="form-group">
                    <label>备注</label>
                    <textarea class="form-control" rows="3" ng-model="Source.selectItem.mark" />
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" ng-verify="control:'Form'" type="button" ng-click="save()">保存</button>
        <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">取消</button>
    </div>
</script>
<script type="text/ng-template" id="Eimsystemsetting/Sessioncenterlist/openmodalconfig">
    <div class="modal-header clearfix">
        <h4 class="modal-title f-l">{{Source.title}}</h4>
        <a href="javascript:;" class="closebtn" ng-click="cancel()"><i class="glyphicon glyphicon-remove"></i></a>
    </div>
    <div class="modal-body">      
        <form name="Form" verify-scope>
            <table class="table" style="margin-bottom:8px;">
                <tr>
                    <td style="width:25%;" class="text-right">绑定地址</td>
                    <td style="width:25%;">
                        <input type="text" ng-model="Source.configData.bindAddr" />
                    </td>
                    <td style="width:25%;" class="text-right">端口号</td>
                    <td style="width:25%;">
                        <input type="text" ng-model="Source.configData.port" placeholder="默认1336" value="1336" />
                    </td>
                </tr>
                <tr>
                    <td class="text-right">配置密码</td>
                    <td colspan="3">
                        <input type="password" ng-model="Source.configData.password" />
                    </td>
                </tr>
                <tr>
                    <td class="text-right">SSL状态</td>
                    <td>
                        <input type="checkbox" ng-model="Source.configData.ssl" />开启
                    </td>
                    <td class="text-right">CredSSP</td>
                    <td>
                        <input type="checkbox" ng-model="Source.configData.credSSP" value="false" />开启
                    </td>
                </tr>
                <tr>
                    <td class="text-right">SSH连接</td>
                    <td>
                        <input type="checkbox" ng-model="Source.configData.ssh" ng-checked="true" />启用
                    </td>
                    <td class="text-right">Telnet连接</td>
                    <td>
                        <input type="checkbox" ng-model="Source.configData.telnet" ng-checked="true" />启用
                    </td>
                </tr>
                <tr>
                    <td class="text-right">客户端连接排队数量</td>
                    <td>
                        <input type="text" ng-model="Source.configData.backlog" placeholder="50" value="50" />开启
                    </td>
                    <td class="text-right"></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="text-right">HTML根目录</td>
                    <td>
                        <input type="text" ng-model="Source.configData.html" value="C:\\wamp\\apps\\SparkGateway\\html\\" />
                    </td>
                    <td class="text-right">默认网页</td>
                    <td>
                        <input type="text" ng-model="Source.configData.directoryIndex" value="index.html" />
                    </td>
                </tr>
                <tr>
                    <td class="text-right">许可证文件的路径</td>
                    <td colspan="3">
                        <input type="text" ng-model="Source.configData.license" value="C:\\wamp\\apps\\SparkGateway\\license" />
                    </td>
                </tr>
                <tr>
                    <td class="text-right">日志文件路径</td>
                    <td colspan="3">
                        <input type="text" ng-model="Source.configData.logfile" placeholder="为空则不记录日志" value="C:\\wamp\\apps\\SparkGateway\\logs\\runlog.log" />
                    </td>
                </tr>
                <tr>
                    <td class="text-right">单日志文件的大小（字节）</td>
                    <td>
                        <input type="text" ng-model="Source.configData.maxbytes" placeholder="30M" value="30720000" />
                    </td>
                    <td class="text-right">日志文件的最大数量</td>
                    <td>
                        <input type="text" ng-model="Source.configData.maxfiles" placeholder="99" value="99" />
                    </td>
                </tr>
                <tr>
                    <td class="text-right">告警状态</td>
                    <td colspan="3">
                        <input type="checkbox" ng-model="Source.configData.showMessage" value="false" />开启
                    </td>
                </tr>
                <tr>
                    <td class="text-right">临时目录（用于下载/上传）</td>
                    <td colspan="3">
                        <input type="text" ng-model="Source.configData.tmpdir" value="C:\\wamp\\apps\\SparkGateway\\html\\tempdir\\" />
                    </td>
                </tr>
                <tr>
                    <td class="text-right">会话审计</td>
                    <td>
                        <select class="form-control" ng-model="Source.configData.sessionRecord">
                            <option value="0">禁用</option>
                            <option value="1" ng-selected="true">仅录制图形</option>
                        </select>
                    </td>
                    <td class="text-right">会话审计提示</td>
                    <td>
                        <input type="checkbox" ng-model="Source.configData.recwarning" value="false" />开启
                    </td>
                </tr>
                <tr>
                    <td class="text-right">会话审计保存目录</td>
                    <td colspan="3">
                        <input type="text" ng-model="Source.configData.recdir" value="C:\\wamp\\apps\\SparkGateway\\html\\session_file\\" />
                    </td>
                </tr>
                <tr>
                    <td class="text-right">会话空闲超时时长</td>
                    <td colspan="3">
                        <input type="text" ng-model="Source.configData.idleUserSession" placeholder="默认1小时" value="3600000" />毫秒
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="button" ng-click="btn_save()">保存</button>
        <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">取消</button>
    </div>

</script>