<div class="modal-header clearfix">
    <h4 class="modal-title f-l">{{Source.title}}</h4>
    <a href="javascript:;" class="closebtn" ng-click="cancel()"><i class="glyphicon glyphicon-remove"></i></a>
</div>
<div class="modal-body">
    <div class="class=" form-container"">
        <form name="Form" verify-scope class="myform">
            <div class="profile-info-row">
                <div class="profile-info-name">组名称</div>
                <div class ="profile-info-value">
                    <input type="text" class="form-control" style="width:100%;" ng-if="Source.Action==0" ng-model="Source.selectItem.groupname" ng-verify="min:1, max:25" placeholder="输入1~25位角色名称" />
                    <input type="text" class="form-control" style="width:100%;" ng-if="Source.Action!=0" ng-model="Source.selectItem.groupname" ng-verify="min:1, max:25" class="form-control" placeholder="请输入1~25个字符" ng-readonly="readonly" />
                </div>
            </div>
            <div ng-show="Source.Action==0||Source.Action==1" style="min-height:30px;">
                <div class="text-right col-xs-12">
                    <a href="javascript:;" title="点击隐藏/显示其余属性" ng-click="hideOther=!hideOther">
                        <i class="fa" ng-class="{'fa-chevron-circle-down':hideOther,'fa-chevron-circle-up':!hideOther}" aria-hidden="true"></i>
                        <span>{{hideOther?'展开其他':'隐藏'}}属性</span>
                    </a>
                </div>
            </div>
            <div ng-show="!hideOther&&(Source.Action==0||Source.Action==1)">
                <div class="profile-info-row">
                    <div class="profile-info-name">父级分类</div>
                    <div class="profile-info-value">
                        <treecontrol class="tree-light" tree-model="service.treemydevicegroupdata">
                            <span>
                                <span ng-bind="node.groupname"></span>
                            </span>
                        </treecontrol>
                    </div>
                </div>
            </div>
</form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" ng-verify="control:'Form'" type="button" ng-click="save()" ng-show="Source.Action==0||Source.Action==1">保存</button>
    <button class="btn btn-primary btn-sm" type="button" ng-click="save(2)" ng-show="Source.Action==2">删除</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">取消</button>
</div>

