<extend name="angular-base.html" />
<block name="momentjs">
</block>
<block name="headcss">
    
</block>
<block name="headjs">
    <!--select start-->
    <link rel="stylesheet" href="{$Think.const.BOOTSTRAP_URL}select2/3.4.5/select.css">
    <script src="{$Think.const.BOOTSTRAP_URL}select2/3.4.5/select.js"></script>
    <link rel="stylesheet" href="{$Think.const.BOOTSTRAP_URL}select2/3.4.5/select2.css">
    <link rel="stylesheet" href="{$Think.const.BOOTSTRAP_URL}select2/3.4.5/selectize.default.css">
    <!--select end-->
    <link rel="stylesheet" href="{$Think.const.PAGE_URL}css/crmSchedule/Workerorder/workerorder.css" /><!-- 这里公用了工单css -->
    <link rel="stylesheet" href="{$Think.const.CSS_URL}upload.css" />   
    <script src="{$Think.const.BOOTSTRAP_URL}angular-file-upload/angular-file-upload.min.js"></script>
    <script src='{$Think.const.BOOTSTRAP_URL}textAngular/textAngular-rangy.min.js'></script>
    <script src='{$Think.const.BOOTSTRAP_URL}textAngular/textAngular-sanitize.min.js'></script>
    <script src='{$Think.const.BOOTSTRAP_URL}textAngular/textAngular.min.js'></script>
    <script>
        var userid = "{$userid}";
        var _appid = "{$appid}";
        
    </script>        
</block>
<block name="pageContent">
    <main class="js-canvi-content canvi-content">
        <div class="col-xs-12">
            <!--流程-->
            <div class="flow text-center" ng-if="display">
                <img src="{$Think.const.IMG_URL}flow/workerorder.png" style="width:80%;" />
            </div>
            <!--操作区域-->
            <div class="btn-box">
                <!--<a ng-click="add()" class="btn btn-success  btn-sm">
                    <i class="glyphicon glyphicon-plus"></i>
                    添加
                </a>
                <a ng-click="refresh()" class="btn btn-success btn-sm">
                    <i class="glyphicon glyphicon-refresh"></i>刷新
                </a>-->
                <page-btn></page-btn>
                <span class="display" ng-click="display=!display">隐藏/显示指引</span>&nbsp;&nbsp;
                <a class="display" ng-click="selectclose()">查看已关闭工单</a>
                <!--展示检索条件区域-->
                <div class="search-box">
                    <span class="display" ng-click="search=!search"><span ng-bind="search?'隐藏':'点击'"></span>根据条件检索</span>&nbsp;
                    <span class="input-search">
                        <input type="text" placeholder="标题检索 ..." class="search-input" ng-model="filtername">
                        <i class="fa fa-search search-icon"></i>
                    </span>
                </div>
                <div ng-if="search" class="top-10">
                    <ui-select multiple ng-model="service.type" on-select="addTags('type', $item);" theme="select2">
                        <ui-select-match placeholder="按类型检索" ng-bind="$item.value.name"></ui-select-match>
                        <ui-select-choices repeat="person.value as (key, person) in service.privateDateObj.workordertypeData | filter: { value: { name: $select.search }} track by $index">
                            <div ng-bind-html="person.value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <ui-select multiple ng-model="service.status" on-select="addTags('status', $item);" theme="select2">
                        <ui-select-match placeholder="按状态检索" ng-bind="$item.value.name"></ui-select-match>
                        <ui-select-choices repeat="person.value as (key, person) in service.workorderstatusData | filter: { value: { name: $select.search }} track by $index">
                            <span ng-if="person.value.id < 3">
                                <div ng-bind-html="person.value.name | highlight: $select.search"></div>
                            </span>
                        </ui-select-choices>
                    </ui-select>
                    <ui-select multiple ng-model="service.user" on-select="addTags('user',$item);" theme="select2" ng-if="selectUserData">
                        <ui-select-match placeholder="按创建人检索" ng-bind="$item.value.description"></ui-select-match>
                        <ui-select-choices repeat="person.value as (key, person) in selectUserData | filter: { value: { description: $select.search }} track by $index">
                            <div ng-bind-html="person.value.description | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <ui-select multiple ng-model="service.assign" on-select="addTags('assign', $item);" theme="select2" ng-if="selectAssignData">
                        <ui-select-match placeholder="按执行人检索" ng-bind="$select.value.description"></ui-select-match>
                        <ui-select-choices repeat="person.value as (key, person) in selectAssignData | filter: { value: { description: $select.search }} track by $index">
                            <div ng-bind-html="person.value.description | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <!--条件检索区-->
            <div class="text-right">
                <span class="tag" ng-repeat="item in tagsData" ng-class="item.key">
                    <span ng-if="item.key=='status' || item.key=='type'" ng-bind-html="item.value.name"></span>
                    <span ng-if="item.key!='status' && item.key!='type'" ng-bind="item.value.description"></span>
                    <button type="button" class="close" ng-click="removeTag(item)">×</button>
                </span>
            </div>            
        </div>
        <!--表格展示区-->
        <div class="col-xs-12">
            <div class="text-right" style="padding:10px;">
                当前<b class="blue" ng-bind="service.workorderArrData.length"></b>条工单
                <!--<div ng-include="'__APP__/Crmbase/Baseinfo/setpaging'"></div>-->
            </div>
            <table class="table" ng-init="workorderDataCount={count:0};orderName = '-createtime'" style="margin-bottom:2px;">
                <thead>
                    <tr>
                        <th style="width:5%;">编号</th>
                        <th style="width:10%;" class="mousehand" ng-click="orderName=(orderName=='type'?'-type':'type')">类型<i class="fa" ng-class="orderName=='type'?'fa-caret-up':'fa-caret-down'"></i></th>
                        <th style="width:10%;" class="mousehand" ng-click="orderName=(orderName=='status'?'-status':'status')">状态<i class="fa" ng-class="orderName=='status'?'fa-caret-up':'fa-caret-down'"></i></th>
                        <th style="width:15%;" class="mousehand" ng-click="orderName=(orderName=='title'?'-title':'title')">标题 <i class="fa" ng-class="orderName=='title'?'fa-caret-up':'fa-caret-down'"></i></th>
                        <th style="width:15%;">
                            <span class="mousehand" ng-click="orderName=(orderName=='refcustomerid'?'-refcustomerid':'refcustomerid')">
                                客户<i class="fa" ng-class="orderName=='refcustomerid'?'fa-caret-up':'fa-caret-down'"></i>
                            </span>
                            <span class="mousehand" ng-click="orderName=(orderName=='refprojectid'?'-refprojectid':'refprojectid')">
                                项目<i class="fa" ng-class="orderName=='refprojectid'?'fa-caret-up':'fa-caret-down'"></i>
                            </span>
                        </th>
                        <th class="mousehand" style="width:7%;" ng-click="orderName=(orderName=='userid'?'-userid':'userid')">创建人<i class="fa" ng-class="orderName=='userid'?'fa-caret-up':'fa-caret-down'"></i></th>
                        <th class="mousehand" style="width:8%;" ng-click="orderName=(orderName=='assignid'?'-assignid':'assignid')">执行人<i class="fa" ng-class="orderName=='assignid'?'fa-caret-up':'fa-caret-down'"></i></th>
                        <th class="mousehand" style="width:10%;" ng-click="orderName=(orderName=='-createtime'?'createtime':'-createtime')">时间 <i class="fa" ng-class="orderName=='-createtime'?'fa-caret-up':'fa-caret-down'"></i></th>
                        <th style="width:20%;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <!--ng-class="item.assignid==service.userid?'bg-pink-red':''"-->
                    <tr ng-repeat="(key,item) in service.workorderArrData | orderBy:orderName |filterByAttr:filtername:workorderDataCount track by $index" class="profile-activity" ng-class="(item.assignid == service.userid&&item.status == 0) || (item.userid == service.userid&&item.status == 2)?'danger ':''">
                        <td style="width:5%;"><span class="badge" ng-bind="key+1"></span></td>
                        <td style="width:10%;">
                            <!-- 工单类型标签 -->
                            <span class="left-10 label" ng-class="service.privateDateObj.workordertypeData[item.type].type" ng-if="item.type" ng-bind="service.privateDateObj.workordertypeData[item.type].name"></span>
                        </td>
                        <td style="width:10%;">
                            <!-- 工单状态标签 -->
                            <span class="left-10 label" ng-class="service.workorderstatusData[item.status].type" ng-bind="service.workorderstatusData[item.status].name"></span>
                        </td>
                        <td style="width:15%;">
                            <!--<span style="margin:-20px 0 0 -20px;" ng-hide="item.userid==service.userid" class="badge" ng-class="item.assignid==service.userid?'c-danger':'c-success'" ng-bind="item.assignid==service.userid?'派':'抄'"></span>-->
                            <div>
                                <i ng-if="item.icon" class="pull-left thumbicon {{item.icon}} no-hover"></i>
                                <a class="user" href="" ng-click="selectdetailed(item)" ng-bind="item.title"></a>
                            </div>
                        </td>
                        <td style="width:15%;">
                            <!-- 客户标签 -->
                            <span ng-repeat="id in (item.refcustomerid?item.refcustomerid.split(','):[]) track by $index" class="label label-default left-5"
                                  ng-bind="(service.privateDateObj.customerinfoData[id]?service.privateDateObj.customerinfoData[id]:service.privateDateObj.tempcustomerinfoData[id]).name"></span>
                            <span ng-repeat="id in (item.refprojectid?item.refprojectid.split(','):[]) track by $index" class="label label-info"
                                  ng-bind="(service.privateDateObj.projectData[id]?service.privateDateObj.projectData[id]:service.privateDateObj.tempprojectData[id]).name"></span>
                        </td>
                        <td style="width:7%;">
                            <div>
                                <!-- 客户创建人 -->
                                <span class="label c-info" ng-bind="(service.privateDateObj.usersData[item.userid].description ? service.privateDateObj.usersData[item.userid].description :service.privateDateObj.usersData[item.userid].username)"></span>
                            </div>
                        </td>
                        <td style="width:8%;">
                            <div>
                                <!-- 工单执行人 -->
                                <span class="label c-info">{{(service.privateDateObj.usersData[item.assignid].description ? service.privateDateObj.usersData[item.assignid].description :service.privateDateObj.usersData[item.assignid].username)}}</span>
                            </div>
                        </td>
                        <!--关键字检索-->
                        <td style="width:10%;">
                            <span ng-bind="formatDate(item.createtime,'yyyy-mm-dd')"></span>
                        </td>
                        <td style="width:20%;">
                            <a href="javascript:;" ng-click="selectdetailed(item)" title="详细" class="btn btn-xs green"><i class="ace-icon fa fa-search"></i>&nbsp;详细</a>
                            <a href="javascript:;" ng-if="item.assignid==service.userid && item.status=='0'" ng-click="alertConfirm(item)" title="确认" class="btn btn-xs green"><i class="ace-icon fa fa-check "></i>&nbsp;确认</a>
                            <a href="javascript:;" ng-if="item.status=='2' && item.userid==service.userid " ng-click="alertOver(item)" title="结单" class="btn btn-xs green"><i class="ace-icon fa fa-times "></i>&nbsp;结单</a>
                            <a href="javascript:;" ng-if="item.status=='1' && item.assignid==service.userid " ng-click="alertUpload(item)" title="提交" class="btn btn-xs green"><i class="ace-icon fa fa-hand-o-up "></i>&nbsp;提交</a>
                            <a href="javascript:;" ng-if="service.refedit && item.userid==service.userid && item.status<2" ng-click="updateInfo(item)" title="修改" class="btn btn-xs green"><i class="ace-icon fa fa-pencil "></i>&nbsp;修改</a>
                            <a href="javascript:;" ng-if="service.refdel  && item.userid==service.userid" ng-click="remove(item)" class="btn btn-xs  green"><i class="ace-icon fa fa-times"></i>&nbsp;删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</main>
    <aside class="workerordermodaltemplate canvi-navbar">
        <div class="canvi-user-info">
            <div class="canvi-user-info__data">
                <span class="canvi-user-info__title" ng-bind="workerorderModal.title"></span>
                <!--<a href="#" class="canvi-user-info__meta">XXXX编辑</a>-->
                <div class="canvi-user-info__close" ng-click="workerorderModal.toggle();"></div>
            </div>
            
        </div>
        <div>
            <form name="Form" class="container-fluid" verify-scope="tipStyle: 0">
                <div class="row" style="line-height:28px;">
                    <label class="col-xs-3 text-right"><b class="c-red">*</b>工单标题</label>
                    <input type="text" ng-verify="min:1, max:25" class="col-xs-4"  ng-model="selectItem.title" placeholder="输入1~25位字符标题" />
                </div> 
                <div class="row top-10 clearfix" style="line-height:28px;">
                    <label class="col-xs-3 text-right"><b class="c-red">*</b>工单类型</label>
                    <div class="col-xs-8" style="padding: 0px;">
                        <ui-select ng-model="selectItem.type" ng-verify="option:0">
                            <ui-select-match placeholder="请选择工单类型">
                                <span ng-bind="$select.selected.value.name" style="margin-right: 5px;">
                                </span>
                            </ui-select-match>
                            <ui-select-choices repeat="item.key  as (key,item) in service.privateDateObj.workordertypeData track by $index" style="max-height: 150px;">
                                <div ng-bind-html="item.value.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>               
                <div class="row top-10 clearfix" style="line-height:28px;">
                    <label class="col-xs-3 text-right"><b class="c-red">*</b>问题描述</label>
                    <!--<div class="col-xs-8" style="padding: 0px;" text-angular="text-angular" placeholder="请在此输入问题描述" ng-model="selectItem.__mark"></div>-->
                    <!-- 加载编辑器的容器 -->
                    <script class="col-xs-8" style="padding: 0px;" id="container" name="content" type="text/plain"></script>
                </div>                
                <div class="row top-10" style="line-height:28px;">
                    <label class="col-xs-3 text-right">关联客户</label>                   
                    <div class="col-xs-8" style="padding: 0px;">                       
                        <ui-select  ng-model="selectItem.refcustomerid" on-select="save_customer($item)">
                            <ui-select-match placeholder="请关联客户">
                                <span ng-bind="$select.selected.value.name" style="margin-right: 5px;">
                                </span>
                            </ui-select-match>
                            <ui-select-choices repeat="item.key  as (key,item) in service.privateDateObj.customerinfoData | filter: { value: { name: $select.search }} track by $index" style="max-height: 150px;">
                                <div ng-bind-html="item.value.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
               
                <div ng-if="selectItem.refcustomerid" class="row top-10" style="line-height:28px;">
                    <label class="col-xs-3 text-right">关联项目</label>
                    <div class="col-xs-8" style="padding:0px;">
                        <ui-select ng-model="selectItem.refprojectid"  on-select="save_project($item)" >
                            <ui-select-match placeholder="请选择项目">
                                <span ng-bind="$select.selected.value.name" style="margin-right: 5px;">
                                </span>
                            </ui-select-match>
                            <ui-select-choices repeat="item.key as (key,item) in selectProjectdata |filter: { value: { name: $select.search }} track by $index" style="max-height: 150px;">
                                <div ng-bind-html="item.value.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
              
                <div ng-if="selectItem.refcustomerid" class="row top-10" style="line-height:28px;">
                    <label class="col-xs-3 text-right">关联联系人</label>
                    <div class="col-xs-8" style="padding:0px;">
                        <ui-select multiple ng-model="selectItem.refcontactid" theme="select2"  style="width:100%;">
                            <ui-select-match placeholder="请选择联系人">
                                <span ng-bind="$item.value.name" style="margin-right: 5px;">
                                </span>
                            </ui-select-match>
                            <ui-select-choices repeat="item.key as (key,item) in selectContactData |filter: { value: { name: $select.search }} track by $index" style="max-height: 150px;">
                                <span ng-bind-html="item.value.name | highlight: $select.search"></span>
                                &nbsp;(职位：<span ng-bind="item.value.position"></span> &nbsp;联系方式：<span ng-bind="item.value.mobilephone"></span>)
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
               
                <div  class="row top-10" style="line-height:28px;">
                    <label class="col-xs-3 text-right">指派人员</label>
                    <!--<select class="col-xs-3" ng-model="selectItem.assignid" ng-options="item.idusers as item.description for item in usersArrData"></select>-->
                    <div class="col-xs-3" style="padding:0px;">                      
                        <ui-select  ng-model="selectItem.assignid"  style="width:100%;">
                            <ui-select-match placeholder="请选择指派人员">
                                <span ng-bind="$select.selected.value.description" style="margin-right: 5px;">
                                </span>
                            </ui-select-match>
                            <ui-select-choices repeat="item.value.idusers  as (key,item) in service.privateDateObj.usersData | filter: { value: { description: $select.search }}" style="max-height: 150px;">
                                <div ng-bind-html="item.value.description | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
               
                <div  class="row top-10" style="line-height:28px;">
                    <label class="col-xs-3 text-right">期望解决时间</label>
                    <div class="col-xs-5" style="padding-left:0;">
                        <p class="input-group">
                            <input style="border-radius:0;" ng-click="open()" type="text" class="form-control" current-text="今天" clear-text="清空" close-text="关闭" uib-datepicker-popup ng-model="dt" ng-readonly="true" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
               
                <div  class="row top-10" style="line-height:28px;">
                    <label class="col-xs-3 text-right">抄送</label>
                    <div class="col-xs-8" style="padding-left:0px;">
                        <ui-select multiple ng-model="selectItem.refusers" theme="select2" style="width:100%;">
                            <ui-select-match placeholder="请选择抄送">
                                <span ng-bind="$item.value.description" style="margin-right: 5px;">
                                </span>
                            </ui-select-match>
                            <ui-select-choices repeat="item.value.idusers  as (key,item) in service.privateDateObj.usersData | filter: { value: { description: $select.search }}" style="max-height: 150px;">
                                <div ng-bind-html="item.value.description | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
               
                <br />
                <br />
                <br />
                <div class="col-xs-12 text-center">
                    <button class="btn btn-primary btn-sm" ng-verify="control:'Form'" type="button" ng-click="saveData(0)" ng-if="Action==0||Action==1" title="请检查数据是否正确填写！">
                        保存
                    </button>
                    <button class="btn btn-warning btn-sm" type="button" ng-click="workerorderModal.close();">取消</button>
                </div>
            </form>
        </div>

    </aside>     
    <!-- 提交工单中填写结果描述操作 -->
    <aside class="uploadcompletemodaltemplate canvi-navbar">
        <div class="canvi-user-info">
            <div class="canvi-user-info__data">
                <span class="canvi-user-info__title" ng-bind="uploadcompleteModal.title"></span>
                <!--<a href="#" class="canvi-user-info__meta">XXXX编辑</a>-->
                <div class="canvi-user-info__close" ng-click="uploadcompleteModal.toggle();"></div>
            </div>

        </div>
        <div class="modal-body" style="padding-top:10px;">
            <form name="Form" class="container-fluid" verify-scope="tipStyle: 0">
                <div class="row" style="line-height:28px;">
                    <label class="col-xs-3 text-right">工单标题</label>
                    <span ng-bind="selectItem.title"></span>
                </div>
                <div class="row top-10 clearfix" style="line-height:28px;">
                    <label class="col-xs-3 text-right">工单类型</label>
                    <span class="label label-info" ng-bind="service.privateDateObj.workordertypeData[selectItem.type].name"></span>
                </div>
                <div class="row top-10" style="line-height:28px;">
                    <label class="col-xs-3 text-right">指派人员</label>
                    <span class="label label-info" ng-bind="service.privateDateObj.usersData[selectItem.assignid].description"></span>
                </div>
                <div class="row top-10" style="line-height:28px;">
                    <label class="col-xs-3 text-right">期望解决时间</label>
                    <i class="glyphicon glyphicon-calendar"></i>
                    <span ng-bind="formatDate(selectItem.expectationendtime,'yyyy-mm-dd')"></span>
                </div>
                <div class="row top-10" style="line-height:28px;">
                    <textarea ng-verify="min:1, max:100" class="col-xs-10 form-control" ng-model="selectItem.resultdescription" placeholder="请填写结果描述！（*必填）或在详细页中可上传附件"></textarea>
                </div>
                <br />
                <br />
                <br />
                <div class="col-xs-12 text-center">
                    <button class="btn btn-primary btn-sm" ng-verify="control:'Form'" type="button" ng-click="saveUpload()" title="请检查数据是否正确填写！">
                        保存
                    </button>
                    <button class="btn btn-warning btn-sm" type="button" ng-click="uploadcompleteModal.close();">取消</button>
                </div>
            </form>
        </div>
    </aside>
    <!-- 结束工单中提交操作 -->
    <aside class="beforecompletemodaltemplate canvi-navbar">
        <div class="canvi-user-info">
            <div class="canvi-user-info__data">
                <span class="canvi-user-info__title" ng-bind="beforecompleteModal.title"></span>
                <!--<a href="#" class="canvi-user-info__meta">XXXX编辑</a>-->
                <div class="canvi-user-info__close" ng-click="beforecompleteModal.toggle();"></div>
            </div> 

        </div>
        <div class="modal-body" style="padding-top:10px;">
            <form name="Form" class="container-fluid" verify-scope="tipStyle: 0">
                <div class="row top-10">
                    <textarea class="col-xs-12" ng-verify="min:1, max:100" ng-model="mark" placeholder="{{service.placeholder}}"></textarea>
                </div>
                <div class="top-10">请对我的工作进行评分（<b style="color:red;">*必填</b>）</div>
                <div class="top-10">
                    <label>反馈评分：</label>
                    <span style="color: #009688;" uib-rating ng-model="feedback" max="max" read-only="isReadonly" on-hover="" titles="title" aria-labelledby="default-rating"></span>
                    <span class="label" ng-class="{'label-warning': feedback<2, 'label-info': feedback>=2 && feedback<4, 'label-success': feedback>=4}">{{feedback}}星</span>
                    <div><small style="color:red;">表示对当前工单反馈的次数及有效性进行评分</small></div>
                </div>
                <div class="top-20">
                    <label>及时评分：</label>
                    <span style="color: #009688;" uib-rating ng-model="timely" max="max" read-only="isReadonly" on-hover="" titles="title" aria-labelledby="default-rating"></span>
                    <span class="label" ng-class="{'label-warning': timely<2, 'label-info': timely>=2 && timely<4, 'label-success': timely>=4}">{{timely}}星</span>
                    <div><small style="color:red;">表示在对工单进行确认、提交、填写描述等操作的及时反馈性进行评分</small></div>
                </div>
                <div class="top-20">
                    <label>附加评分：</label>
                    <span style="color: #009688;" uib-rating ng-model="additional" max="max" read-only="isReadonly" on-hover="" titles="title" aria-labelledby="default-rating"></span>
                    <span class="label" ng-class="{'label-warning': additional<2, 'label-info': additional>=2 && additional<4, 'label-success': additional>=4}">{{additional}}星</span>
                    <div><small style="color:red;">表示对当前工单作出了额外的工作。如：为客户推荐了公司其他产品等进行评分</small></div>
                </div>
                <div class="text-right top-10">
                    <button class="btn btn-primary btn-sm" ng-verify="control:'Form'" type="button" ng-click="saveHistrylogResult(selectItem,mark,'4', '3')">
                        确认结单
                    </button>
                    <button class="btn btn-warnning btn-sm" type="button" ng-click="beforecompleteModal.toggle()">取消结单</button>
                </div>
            </form>
        </div>
    </aside>    
       
</block>
<block name="scriptTemplate">
</block>

<block name="footjs">
    <script type="text/javascript" src="{$Think.const.PAGE_URL}js/Crmschedule/Workorder/index.js?v={$Think.const.CRM_VERSION}"></script>
    <script type="text/javascript" src="{$Think.const.JS_URL}directive.pagebtn.js"></script>
    <script type="text/javascript" src="{$Think.const.PAGE_URL}js/Crmschedule/Workorder/uploadBtn.js"></script>
    <!-- 配置文件 -->
    <script type="text/javascript" src="{$Think.const.BOOTSTRAP_URL}ueditor/1.4.3.3/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="{$Think.const.BOOTSTRAP_URL}ueditor/1.4.3.3/ueditor.all.js"></script>
</block>​